
<!--<br>
<a routerLink="/view-Owner" style="text-align:left;" class="nav-link"  class="btn btn-primary" >Back To Owner</a>
<br>-->


<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="text-align: center">Pet Table</h1><br>
      
      <div class="form-group">
        <a routerLink="/view-Owner" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;" class="nav-link"  class="btn btn-primary" >Back To Owner</a>

        
      <button [disabled]="loading" data-toggle="modal" data-target="#exampleModal" (click) = "insertPet(student)" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
        InsertPet
    </button>
      
    <!--<td> <button  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click) = "insertPet(student)">Insert Pet</button>&nbsp;
    -->
  
  <div class="panel-body">
      <table  style= "width: 32cm;" class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                <th>PetId</th>
                  <th>OwnerName</th>
                  <th>PetName</th>
                  <th>speciesId</th>
                  <th>PetSpecies</th>
                  <th>PetSymptoms</th>
                 <th>Action</th>
                  
              </tr>
           
          </thead>
          <tbody>
               <tr *ngFor="let student of students ">
                <td>{{student.petId}}</td>
                <td>{{student.ownerName}}</td>
                <td>{{student.petName}}</td>
                  <td>{{student.speciesId}}</td>
                  <td>{{student.petSpecies}}</td>
                  <td>{{student.petSymptoms}}</td>
                 
                  
                  
                  
                  <td>
                    <button  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click) = "edit(student)">Edit</button>&nbsp;
                    <button (click)="deletePet(student.petId)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>
                  </td>
                </tr>
          </tbody><br>
      </table>
  </div>
</div> 

<!-- Modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pet Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #UpdateForm="ngForm" (ngSubmit)="updateToPet2()">
          <div class="form-group">
            <label for="petId" >petId</label>
            <input type="number" #petId [(ngModel)]="PetToupdated.petId" [ngModelOptions]="{standalone: true}" name="id" id="petId" class="form-control" placeholder="Enter petId">
          </div>
          
          <div class="form-group">
            <label for="ownerName" >ownerName</label>
            <input type="text"  #ownerName [(ngModel)]="PetToupdated.ownerName" [ngModelOptions]="{standalone: true}" class="form-control" id="ownerName" placeholder="Enter ownerName">
          </div>
          <div class="form-group">
            <label for="petName" >petName</label>
            <input type="text"  #petName [(ngModel)]="PetToupdated.petName" [ngModelOptions]="{standalone: true}" class="form-control" id="petName" placeholder="Enter petName">
          </div>
          <div class="form-group">
            <label for="speciesId" >speciesId</label>
            <input type="text" #speciesId [(ngModel)]="PetToupdated.speciesId" [ngModelOptions]="{standalone: true}" class="form-control" id="speciesId" placeholder="Enter speciesId">
          </div>
          <div class="form-group">
            <label for="petSpecies" >petSpecies</label>
            <input type="text" #petSpecies [(ngModel)]="PetToupdated.petSpecies" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter petSpecies">
          </div>
          <div class="form-group">
            <label for="petSymptoms" >petSymptoms</label>
            <input type="text" #petSymptoms [(ngModel)]="PetToupdated.petSymptoms" [ngModelOptions]="{standalone: true}" class="form-control" id="mobileNumber" placeholder="Enter petSymptoms">
          </div>
          
          
          <div class="form-group">
            <input type="submit" value="submit" class="btn btn-primary w-100">
          </div>
          
        </form>
        
      </div>
    </div>
  </div>
</div>












